@using OgrenciMvc.Models.EntityFramework
@model List<TBLKULUPLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <td>KULÜP ID</td>
        <td>KULÜP ADI</td>
        <td>İŞLEMLER</td>
    </tr>
    <tbody>
        @foreach (var klp in Model)
        {
            <tr>
                <td>@klp.KULUPID</td>
                <td>@klp.KULUPAD</td>
                <td><a href="/Kulup/Sil/@klp.KULUPID" class="btn btn-danger">SİL</a> <a href="/Kulup/KulupGetir/@klp.KULUPID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Kulup/YeniKulup/" class="btn btn-primary">EKLE</a>

